[submodule "cva6"]
	path = cva6
	url = https://github.com/openhwgroup/cva6
[submodule "axi"]
	path = axi
	url = https://github.com/pulp-platform/axi
[submodule "obi"]
	path = obi
	url = https://github.com/pulp-platform/obi
[submodule "safety_island"]
	path = safety_island
	url = https://github.com/pulp-platform/safety_island
[submodule "common_cells"]
	path = common_cells
	url = https://github.com/pulp-platform/common_cells
[submodule "clint"]
	path = clint
	url = https://github.com/pulp-platform/clint
[submodule "register_interface"]
	path = register_interface
	url = https://github.com/pulp-platform/register_interface
[submodule "axi_riscv_atomics"]
	path = axi_riscv_atomics
	url = https://github.com/pulp-platform/axi_riscv_atomics
[submodule "ibex"]
	path = ibex
	url = https://github.com/lowRISC/ibex
[submodule "cv32e40p"]
	path = cv32e40p
	url = https://github.com/openhwgroup/cv32e40p
[submodule "synopsys-flow"]
	path = synopsys-flow
	url = https://github.com/celuk/synopsys-flow
[submodule "riscv-linux-from-scratch"]
	path = riscv-linux-from-scratch
	url = https://github.com/celuk/riscv-linux-from-scratch
