**.direnv/
*/modelsim/*
**/sim_build
*_prove/
**_pycache_*
**/transcript
**.elf
**.hex
**.bin
**.dump
**.txt

**.o
**.s
**.riscv
**.coe
**.vmem
**.log
**.history

.vscode

vivado/modelsim.ini
vivado/compiled-libs/*

typescript*

.simvision/*

temp/*
